/* creative brief styling */

#brief body {
    margin:auto;
    margin-left: 390px;
    margin-right: 340px;
    margin-bottom: 20px;
    background-color: #C9DBBE;
}

#brief h1 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 2.5em;
    margin-bottom: 60px;
    margin-top: 30px;
}

#brief h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 1.5em;
    margin-bottom: 20px;
}

#brief p {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1em;
    color: black;
    margin-bottom: 50px;
}

#brief article {
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    margin-bottom: 40px;
}

/* visualization styling */

#visual, #report {
    background-image: url(images/background.png);
    max-width: 100%;
    height:750px;
    width:1200px;
    margin: auto;
} 

/* page spacing */
#visual main, #report main{
    display: block;
    /* margin: auto; */
    margin-left: 390px;
    margin-right: 250px;
    /* padding-left: 400px;
    padding-right: 100px; */
}


#visual article {
    padding-right: 100px;
    padding-top: 0;
}

#report article {
    margin-left: 3px;
    margin-right: 45px;
    padding-top: 0;
}

#report main {
    margin-left: 347px;
}

/* headings  */
#visual header, #report header {
    padding-top: 53px;
    padding-bottom: 40px;
    text-align: center;
    line-height: 1px;
}

#visual header h2, #report header h2 {
    color: #FFEDFF;
    font-size: 2em;
    margin: auto;
    border: none;
}

#visual h1 {
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 400;
    color: #7DCE71;
    font-size: 4.5em;
    line-height: 60px;
}

#report h1 {
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 400;
    color: #7DCE71;
    font-size: 4.5em;
    line-height: 80px;
    margin-left: 75px;
    margin-bottom: 10px;
}

#visual h2, #visual h3, #report h2 {
    font-family: 'VT323', monospace;
    font-weight: 400;
    /* margin-left: 38px; */
    padding-top: 20px;
    line-height: 10px;
}

#report h3 {
    font-family: 'VT323', monospace;
    font-weight: 400;
    /* margin-left: 38px; */
    padding-top: 20px;
    line-height: 25px;
}

#visual h2 {
    color: #fefffe;
    font-size: 2.2em;
    margin-left: 100px;
    margin-right: 131px;
    margin-bottom: 15px;
    border: 4px solid #7DCE71;
    border-radius: 40px;
    padding: 24px;
}

#report h2 {
    color: #fefffe;
    font-size: 2.2em;
    margin-bottom: 15px;
    border: 4px solid #7DCE71;
    border-radius: 40px;
    padding: 24px;
}

#rone {
    margin-right: 177px;
    margin-left: 205px;
}

#rtwo {
    margin-right: 178px;
    margin-left: 180px;
}

#rthree, #rtasks {
    margin-right: 209px;
    margin-left: 218px;
}

#rfour {
    margin-right: 218px;
    margin-left: 223px;
}

#rfive {
    margin-right: 164px;
    margin-left: 197px;
}

#rsix {
    margin-right: 186px;
    margin-left: 196px;
}

#rseven {
    margin-right: 154px;
    margin-left: 172px;
}

#outline ul {
    border: 3px solid white;
    border-radius: 50px;
    padding: 20px 40px 20px 40px;
}

#future ul {
    border: 3px solid white;
    border-radius: 50px;
    margin-left: -2px;
    padding: 60px 70px 40px 70px;
}

#three {
    margin-left: 90px;
    margin-right: 110px;
}

#four {
    margin-left: 86px;
    margin-right: 104px;
}

#outline, #keyfindings, #users, #tasks, #bugs, #usability, #feedback {
    margin-bottom: 80px;
}

#report img {
    margin-top: 50px;
    border-radius: 40px;
}

#imgone {
    margin-bottom: -25px;
}

#imgtwo {
    margin-bottom: 42px;
}

#startscreen, #deathscreen, #question {
    margin-bottom: 140px;
}

#question #three {
    margin-right: 108px;
}

#congratsscreen #four {
    margin-right: 83px;
}

/* #four {
    margin-right: 86px;
} */

#visual article h3, #report article h3 {
    font-size: 1.7em;
    color:#7DCE71;
    /* border: 2px solid #FEADFD;
    border-radius: 40px;
    padding: 15px; */
    /* margin-right: 410px; */
}

/* main content of page */
#visual article p, #report article p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFEDFF;
    font-size: 0.9em;
    line-height: 25px;
    margin-bottom: 20px;
}

#report ul li{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFEDFF;
    font-size: 0.9em;
    margin-bottom: 20px;
}

#understand {
    line-height: 20px;
}

#visual a, #report a {
    text-decoration: none;
    color:#FEADFD;
    transition-timing-function: ease;
    transition: all 500ms;
}

#visual a:hover, #report a:hover {
    color: #7DCE71;
}

#visual img {
    margin-left: -52px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 40px;
}

#visual footer{
    text-align: center;
    color: #FEADFD;
    font-size: 0.8;
    font-family: 'VT323', monospace;
    font-weight: 400;
    padding: 50px;
}

#report footer {
    text-align: center;
    color: #FEADFD;
    font-size: 0.8;
    font-family: 'VT323', monospace;
    font-weight: 400;
    padding: 50px;
    margin-left: 63px;
}

#end {
    margin-left: 31px;
}