/* visualization styling */

#visual {
    background-image: url(images/background.png);
    max-width: 100%;
    height:750px;
    width:1200px;
    margin: auto;
} 

/* page spacing */
#visual main {
    display: block;
    /* margin: auto; */
    margin-left: 390px;
    margin-right: 250px;
    /* padding-left: 400px;
    padding-right: 100px; */
}


#visual article {
    padding-right: 100px;
    padding-top: 0;
}

/* headings  */
#visual header {
    padding-top: 53px;
    padding-bottom: 40px;
    text-align: center;
    line-height: 1px;
}

#visual header h2 {
    color: #FFEDFF;
    font-size: 2em;
    margin: auto;
    border: none;
}

#visual h1 {
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 400;
    color: #7DCE71;
    font-size: 4.5em;
    line-height: 60px;
}

#visual h2, #visual h3 {
    font-family: 'VT323', monospace;
    font-weight: 400;
    /* margin-left: 38px; */
    padding-top: 20px;
    line-height: 10px;
}

#visual h2 {
    color: #fefffe;
    font-size: 2.2em;
    margin-left: 100px;
    margin-right: 131px;
    margin-bottom: 15px;
    border: 4px solid #7DCE71;
    border-radius: 40px;
    padding: 24px;
}

#three {
    margin-left: 100px;
    margin-right: 110px;
}

#four {
    margin-left: 90px;
    margin-right: 100px;
}

#startscreen, #deathscreen, #question {
    margin-bottom: 140px;
}

/* #four {
    margin-right: 86px;
} */

#visual article h3 {
    font-size: 1.7em;
    color:#7DCE71;
    /* border: 2px solid #FEADFD;
    border-radius: 40px;
    padding: 15px; */
    /* margin-right: 410px; */
}

/* main content of page */
#visual article p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFEDFF;
    font-size: 0.9em;
    line-height: 25px;
    margin-bottom: 20px;
}

#visual a {
    text-decoration: none;
    color:#FEADFD;
    transition-timing-function: ease;
    transition: all 500ms;
}

#visual a:hover {
    color: #7DCE71;
}

#visual img {
    margin-left: -52px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 40px;
}

#visual footer {
    text-align: center;
    color: #FEADFD;
    font-size: 0.8;
    font-family: 'VT323', monospace;
    font-weight: 400;
    padding: 50px;
}