body {
    background-color: #232D41;
}

body .bones {
    background-image: url(images/bones.png);
    background-repeat:repeat;
    margin:auto;
    width: 1200px;
    height:750px;
    max-width: 100%;
}

#mouse {
    background-image: url(images/mouse.png);
    background-repeat: no-repeat;
    background-size: 450px;
    position:absolute;
    background-position: 140px 360px;
    padding-bottom: 60px;
}

#section1 p{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: #FFFFFF;
    line-height: 20px;
    margin-top: 40px;
    margin-left: 420px;
    margin-right: 420px;
    font-size: 1em;
}

#section1 h3 {
    font-family:'Darumadrop One', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: #89A0CD;
    margin-left: 420px;
    margin-right: 420px;
    font-size: 1.3em;
}

h1 {
    padding: 7px 33px 20px 33px;
    font-family:'Darumadrop One', sans-serif;
    font-size: 3em;
    font-weight: 400;
    color: #FFFFFF;
    /* background-color: #89A0CD; */
    border: 5px solid #89A0CD;
    border-radius: 50px;
    text-align: center;
    margin-top: 60px;
    margin-left: 300px;
    margin-right: 300px;
    /* font-family: 'Dekko', cursive; */
}

h3 {
    font-family:'Darumadrop One', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    color: #89A0CD;
}

/* #section {
    display: flex;
    flex-direction: row;
} */

/* form{
    display:flex;
    flex-direction: column;
    background-color:#87685C;
    border: 4px solid #87685C;
    padding: 35px;
    border-radius: 50px;
    margin-top: 80px;
    margin-left: 630px;
    margin-right: 275px;
    margin-bottom: 60px;
} */

#one {
    display:flex;
    flex-direction: column;
    background-color:#87685C;
    border: 4px solid #87685C;
    padding: 35px;
    border-radius: 50px;
    margin-top: 80px;
    margin-left: 630px;
    margin-right: 275px;
    margin-bottom: 60px;
}

#two {
    display:flex;
    flex-direction: column;
    background-color:#87685C;
    border: 4px solid #87685C;
    padding: 35px;
    border-radius: 50px;
    margin-top: 80px;
    margin-left: 630px;
    margin-right: 275px;
    margin-bottom: 60px;
}

/* #two {
    background-color:#87685C;
    border: 4px solid #87685C;
    padding:35px;
    border-radius: 50px;
    margin-top: 80px;
    margin-left: 600px;
    margin-right: 250px;
    margin-bottom: 60px;
} */

#two {
    animation: ease 3s fadeIn;
}

form label {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 30px;
}

input {
    border-radius: 20px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 0.9em;
    color:black;
    padding:3px 5px 3px 5px;
}

#recipe{
    font-family:'Darumadrop One', sans-serif;
    font-size: 1.1em;
    color:#232D41;
    background-color:#89A0CD;
    border: 4px solid #89A0CD;
    border-radius: 50px;
    margin-top: 20px;
    margin-left:40px;
    margin-right: 40px;
}

#recipe:hover {
    border: 4px solid #232D41;
    background-color: #232D41;
    color: #FFFFFF;
}

@keyframes FadeIn {
    0%   {opacity: 0;}
    100% {opacity: 1;}
  }

#next{
    font-family:'Darumadrop One', sans-serif;
    font-size: 1.1em;
    color:#232D41;
    background-color:#89A0CD;
    border: 4px solid #89A0CD;
    border-radius: 50px;
    margin-top: 20px;
    margin-left:40px;
    margin-right: 40px;
    transition-timing-function: ease;
    transition: all 400ms;
}

#next:hover {
    border: 4px solid #232D41;
    background-color: #232D41;
    color: #FFFFFF;
}

#overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 150vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
    z-index: 3;
}

#madlib {
    background-image: url(images/paper.png);
    background-repeat: no-repeat;
    width: 1200px;
    height: 750px;
    max-width: 100%;
}

#overlaytext {
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-55%,-160%); */
}

#overlay p {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #232D41;
    /* z-index: 9999; */
    /* transform: translate(300px, 100px); */
    margin-left: 290px;
    margin-top: 48px;
    /* line-height: 20px;
    margin-top: 40px;
    margin-left: 420px;
    margin-right: 420px;
    font-size: 1em; */
}

#overlaytext h3 {
    font-size: 3em;
    text-align: center;
    color: #232D41;
    /* transform: translate(35px, 90px); */
    margin-left: 450px;
    margin-top: 140px;
}

#retry {
    font-family:'Darumadrop One', sans-serif;
    font-size: 1.6em;
    padding: 10px;
    color:#232D41;
    background-color:#89A0CD;
    border: 4px solid #89A0CD;
    border-radius: 50px;
    padding: 5px 10px 5px 10px;
    position: absolute;
    /* margin-left: 500px; */
    transform: translate(550px, 700px); 
}

#retry:hover {
    background-color:#87685C;
    border: 4px solid #87685C;
}

.showing {
    display: flex;
}

.showing1 {
    display: block;
}

.hidden {
    display: none;
}