
body {
    background-image: url(images/background.png);
    max-width: 100%;
    height:750px;
    width:1200px;
    margin: auto;
} 

/* #bckground {
    background-image: url(images/stars.svg);
    max-width: 100%;
    height:750px;
    width:1200px;
    margin: auto;
} */

/* animation to make icons float */
@keyframes starmovement {
    0% {
        transform: translate(0, 0px)
    }
    50% {
        transform:translate(0, 4px)
    }
    100% {
        transform: translate(0, 0px)
    }

}

/* page spacing */
main {
    display: block;
    /* margin: auto; */
    margin-left: 390px;
    margin-right: 250px;
    /* padding-left: 400px;
    padding-right: 100px; */
}

.intro {
    padding-bottom: 20px;
}

article {
    padding-right: 100px;
    padding-top: 0;
}

.floating {
    display: block;
    margin-left: 170px;
    padding-top: 40px;
    animation: starmovement 3.5s ease-in-out infinite; 
    animation-delay: 1s; 
}

/* just in case I want to make each icon float at a different time */
/* #column1 img{
    animation: starmovement 3.5s ease-in-out infinite; 
    animation-delay: 1s;
}

#column2 img{
    animation: starmovement 3.5s ease-in-out infinite; 
    animation-delay: 2s;
}

#column3 img{
    animation: starmovement 3.5s ease-in-out infinite; 
    animation-delay: 3s;
} */

/* headings  */
header {
    padding-top: 53px;
    padding-bottom: 40px;
    text-align: center;
    line-height: 1px;
}

header h2 {
    color: #FFEDFF;
    font-size: 2em;
    margin: auto;
    border: none;
}

h1 {
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 400;
    color: #7DCE71;
    font-size: 4.5em;
}

h2, h3 {
    font-family: 'VT323', monospace;
    font-weight: 400;
    /* margin-left: 38px; */
    padding-top: 20px;
    line-height: 10px;
}

h2 {
    color: #fefffe;
    font-size: 2.2em;
    margin-left: 100px;
    margin-right: 115px;
    margin-bottom: 15px;
    border: 4px solid #7DCE71;
    border-radius: 40px;
    padding: 24px;
}

#imagery {
    margin-left: 118px;
}

#imagetime {
    margin-left: 150px;
}

#charlotte {
    margin-left: 80px;
    margin-top: -40px;
    margin-bottom: -20px;
}

#josh {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 40px 40px 40px 40px;
}


figcaption {
    /* text-align: center; */
    margin-left: 80px;
    margin-bottom: 50px;
    color: #7DCE71;
    font-size: 0.5;
    font-family: 'VT323', monospace;
    font-weight: 400;
    /* padding: 50px; */
}

article h3 {
    font-size: 1.7em;
    color:#7DCE71;
    /* border: 2px solid #FEADFD;
    border-radius: 40px;
    padding: 15px; */
    /* margin-right: 410px; */
}

#overview {
    margin-right: 490px;
}

#labels {
    margin-right: 515px;
}

time {
    font-size: 1.6em;
    color:#5F9757;
    font-family: 'VT323', monospace;
    font-weight: 400;
    margin-left: 165px;
}

#post4time {
    margin-left: 135px;
}

/* main content of page */
article p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFEDFF;
    font-size: 0.9em;
    line-height: 25px;
    margin-bottom: 20px;
}

p a {
    text-decoration: none;
    color:#FEADFD;
    transition-timing-function: ease;
    transition: all 500ms;
}

p a:hover {
    color: #7DCE71;
}

footer {
    text-align: center;
    color: #FEADFD;
    font-size: 0.8;
    font-family: 'VT323', monospace;
    font-weight: 400;
    padding: 50px;
}
